* {
    transition: all 0.66s ease;
}

:root {
    --primary-color: #222831;
    --secondary-color: #F7EEDD;
    --tertiary-color: #008DDA;
    --fourth-color: #41C9E2;
    --link-color: #ACE2E1;
    --navbar-height: 

    color: var(--primary-color);
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Rubik Mono One', monospace;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: 2px 2px 0 var(--tertiary-color);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

@keyframes appear {
    from {opacity: 0}
    to {opacity: 1}
}

html {
    scroll-behavior: smooth;
}

body {
    animation-name: appear;
    animation-duration: 0.66s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
}

body, html {
    background: var(--secondary-color);
    margin: 0;
    padding: 0;
    height: 100%;
}

.hide {
    top: -100%;
    transition: 0.66s ease;
}

.navbar {
    background-color: var(--secondary-color);
    font-family: "Rubik Mono One", monospace;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    padding: 20px 10%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    display: inline-block;
}

/* .nav-item:nth-child(1)::before {
    content: '-';
}

.nav-item::after {
    content: '-';
} */

.nav-link{
    text-decoration: none;
    color: var(--primary-color);
    text-shadow: 0 0 0 var(--tertiary-color);
    transition: all 0.33s ease;
}

.nav-link:hover {
    text-shadow: 2px 2px 0 var(--tertiary-color);
}

/* .nav-link-active {
    text-shadow: 2px 2px 0 var(--tertiary-color);
    color: var(--link-color);
} */

.logo {
    font-size: 161%
}

.page-container#index {
    margin-top: 100px;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    animation-name: appear;
    animation-duration: 0.66s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards paused;
}

.paragraph-container {
    padding: 0 1rem;
}

.paragraph-container > p {
    max-width: 60em;
}

.image-wrapper {
    width: 30%;
    box-shadow: 0.5rem 0.5rem 0 var(--tertiary-color);
    transform: translate(-0.25rem, -0.25rem);
}

.image-wrapper:hover {
    box-shadow: 1rem 1rem 0 var(--tertiary-color);
    transform: translate(-0.5rem, -0.5rem);
}

.image {
    display: block;
    max-width: 100%;
    box-shadow: 0 0 0 var(--tertiary-color);
    filter: grayscale(1);
}

.image:hover {
    filter: none;
}

.name-wrapper {
    cursor: default;
}

.name {
    transform: translateY(-5%); /* For some reason, if you don't do this the child elements disappear */
    width: 8ch;
    font-size: clamp(3rem, 6vw, 5rem);
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    user-select: none;
}

.name-stag {
    width: 8ch;
    position: absolute;
    content: attr(data-name);
    left: 0.3rem;
    bottom: -0.3rem;
    z-index: -1;
    color: var(--tertiary-color);
    user-select: none;
}

.name-stag .name-stag {
    left: 0.3rem;
    bottom: -0.3rem;
    z-index: -2;
    color: var(--fourth-color);
}

section {
    padding: 64px 100px;
    margin-bottom: 80px; /* Add bottom margin to separate sections */ /* Set a light background color */
}

/* Style heading (h2) within sections */
section h2 {
    font-size: 24px; /* Set heading font size */
    margin-bottom: 20px; /* Add bottom margin below heading */
}

/* Style paragraph (p) within sections */
section p {
    font-size: 16px; /* Set paragraph font size */
    line-height: 1.6; /* Set line height for better readability */
}

@media screen and (max-width: 768px) {
    section {
        padding: 45px; /* Reduce padding on smaller screens */
    }
    section h2 {
        font-size: 20px; /* Decrease heading font size on smaller screens */
    }
    section p {
        font-size: 14px; /* Decrease paragraph font size on smaller screens */
    }

    ::-webkit-scrollbar {
        width: 0;
    }

    .image-wrapper {
        width: 40%;
        margin-top: 5%;
        margin-bottom: 10%;
    }
    
    .page-container#index {
        flex-direction: column;
    }
}